{{ $item := .item }}

<style>
  .md\:flex {
    display: flex;
    flex-direction: row;
  }
  .p-8 {
    padding: 2rem;
  }
  .block {
    display: block;
  }
  .mt-1 {
    margin-top: 0.25rem;
  }
  .text-sm {
    font-size: 0.75rem;
  }
  .leading-tight {
    line-height: 1.25;
  }
  .font-medium {
    font-weight: 500;
  }
  .text-black {
    color: #000;
  }
  .title {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 600;
}
</style>

<div class="md:flex">
  <div class="p-2">
    <div class="title">{{ $item.Title }}</div>
    <content:encoded>{{ htmlUnescape ($item.Params.summary | default $item.Summary) | safeHTML | chomp -}}</content:encoded>
  </div>
</div>